---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Home Page - Testing multiple accounts";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>This is an example of Layouts in Astro</h2>
</BaseLayout>
