---
const platform = "github";
const username = "ali-umair";
---

<footer>
  <p transition:name="footer">Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>